/*
1. 320x568
2. 360x640
3. 768x1024
4. 1366x768
5. 320x480
*/
/* 1000px 
**********/
body {
  min-width: 320px; }

#masthead .fb-like {
  margin-right: 0;
  position: absolute;
  top: 0;
  right: 0; }
#masthead a#openMenu {
  display: none; }

#drop-nav li > ul {
  position: absolute;
  background: #b7d6e2;
  z-index: 100; }

#drop-nav li:hover ul {
  display: none; }

/* Breakpoint: 1146px
**********************/
@media all and (max-width: 1146px) {
  #drop-nav li ul li {
    height: auto; }

  #drop-nav li:hover ul {
    z-index: 1000; }

  #em-subnav ul li a {
    white-space: normal; }

  div.main-column {
    max-width: 96%;
    padding: 2%; }

  #hero-stripe {
    background: #34778E; }

  #hero {
    background: white;
    width: 100%;
    left: 0;
    margin: auto;
    height: auto;
    margin-bottom: 15px;
    margin-top: -20px; }
    #hero section {
      width: 100%; }
    #hero #graphic {
      width: 61%;
      position: relative;
      display: inline-block; }
      #hero #graphic img {
        width: 100%;
        height: auto; }
      #hero #graphic .banner {
        background: #ff5d06;
        left: 0;
        padding: 5px 3%;
        width: 94%;
        height: auto; }
        #hero #graphic .banner span {
          margin: 0; }
    #hero #hero_get_started {
      width: 33%;
      height: auto;
      padding-right: 3%;
      padding-left: 3%;
      margin-right: 0; }
      #hero #hero_get_started .cta {
        padding-top: 0;
        max-width: 100%; }
      #hero #hero_get_started .row {
        max-width: 100%; }
        #hero #hero_get_started .row > div div {
          width: 48% !important;
          padding-right: 2%; }
          #hero #hero_get_started .row > div div .btn {
            width: 94%;
            padding-left: 2%;
            padding-right: 2%; }

  /*Individual family page
  **************************/
  #sub_sections h3, #supplemental h3, .ap_profile .album h3 {
    margin: 0; }

  .ap_profile aside {
    width: 25.189393939%;
    padding: 0.946969696%; }
  .ap_profile #sub_sections {
    width: 71.969696969%; }

  /*Hopeful parents
  ******************/
  #hopeful-testimonial-box {
    width: 100%; }

  #join-free-btn.ap-signup {
    left: 15px; }

  #left-col {
    width: 18%; }
    #left-col #side-nav {
      width: 100%; }
      #left-col #side-nav li {
        width: 100%;
        height: 100%; }
        #left-col #side-nav li a.active-link {
          background: rgba(0, 0, 0, 0.08); }

  #right-col {
    width: 80%;
    margin-left: 2%; }
    #right-col img {
      max-width: 100%; }
    #right-col .hp-testimonial-box {
      height: auto;
      width: 96%;
      padding: 2%; }

  /*Join
  *************************/
  #join-plans .submit {
    left: 50%;
    margin-left: -134px; }

  #considering-title-box.em-title #join-free-btn, #considering-title-box.em-title #view-families-link {
    left: inherit;
    right: 25px; }

  /*Considering adoption
  ************************/
  #em-subnav-box {
    max-width: 100%;
    height: 100%; }
    #em-subnav-box #em-subnav {
      padding: 0;
      margin: 0; }
      #em-subnav-box #em-subnav > ul {
        max-width: 100%; }
        #em-subnav-box #em-subnav > ul:after {
          content: '';
          display: block;
          visibility: hidden;
          height: 0;
          clear: both; }

  footer {
    max-width: 96%;
    padding-left: 2%;
    padding-right: 2%; } }
@media all and (max-width: 1046px) and (min-width: 1015px) {
  #hero {
    width: 104%;
    margin-top: -20px;
    margin-left: -2%; } }
/* Breakpoint: 1015px
**********************/
@media all and (max-width: 1015px) {
  #masthead {
    padding-left: 20px;
    padding-right: 20px; }
    #masthead .fb-like {
      right: 20px; }

  div.main-column {
    max-width: 96%;
    padding: 2%; }

  #masthead nav {
    right: 20px; }

  #hero {
    width: 104%;
    margin: -20px -2% 20px; }
    #hero section {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical; }
    #hero #graphic {
      width: 100%;
      position: relative;
      display: block; }
    #hero #hero_get_started {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      box-ordinal-group: 2;
      width: 94%;
      padding: 3%;
      margin-right: 0; }
      #hero #hero_get_started .row > div {
        margin-left: 0; }

  /*main page content blocks*/
  .home .primary {
    width: 51.5625%;
    margin-right: 4.1666667%; }

  .home .secondary {
    float: left;
    width: 44.2708333%;
    margin-left: 0; }

  /* Our families
  *****************************/
  .landing-box {
    outline: solid 1px #dce0e1;
    border: none;
    width: 20.416666666%;
    padding-left: 1.5625%;
    padding-right: 1.5625%;
    margin-right: 1.25%; }
    .landing-box img {
      width: 100%;
      height: auto; }
    .landing-box a img {
      width: 100%;
      height: auto; }

  #main .landing-box:nth-of-type(4n) {
    margin-right: 0; }

  #supplemental {
    padding-left: 2.1%;
    padding-right: 2.1%; }

  /*how it works
  **************************/
  #considering-title-box {
    max-width: 100%;
    height: 100%;
    padding: 0 25px;
    padding-right: 0;
    padding-bottom: 20px;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-right: 25px solid #005675; }
    #considering-title-box img {
      margin-left: 0; }
    #considering-title-box h1, #considering-title-box h2 {
      position: relative;
      left: 0;
      top: 0; }

  #considering-title-box.em-title {
    border-right: 25px solid #3D748B; }
    #considering-title-box.em-title #join-free-btn, #considering-title-box.em-title #view-families-link {
      left: inherit;
      right: 25px; }

  #profile-container {
    width: 100%; }
    #profile-container .profile-icon {
      width: 30%;
      margin-right: 5%; }
    #profile-container #profile-last {
      margin-right: 0; }

  #join-free-btn {
    margin-left: 25px; }

  #view-families-link {
    top: 5px; }

  /*Blog
  ****************************************/
  .adoptimist_blog #primary {
    width: 65%;
    padding-right: 5%; }
    .adoptimist_blog #primary img {
      max-width: 100%; }
  .adoptimist_blog #supplemental {
    float: left;
    margin-left: 2%;
    width: 27%; }

  /*Plan info
  ****************************************/
  #considering-title-box header {
    float: none; }

  #join-free-btn {
    position: relative;
    top: 0;
    margin-top: 25px;
    left: 0; }

  #left-col {
    width: 18%; }
    #left-col #side-nav {
      width: 100%; }
      #left-col #side-nav li {
        width: 100%;
        height: 100%; }
        #left-col #side-nav li a.active-link {
          background: rgba(0, 0, 0, 0.08); }

  #right-col {
    width: 80%;
    margin-left: 2%; }
    #right-col img {
      max-width: 100%;
      height: auto; }

  /*Considering adoption
  **************************/
  #considering-title-box.em-title #join-free-btn, #considering-title-box.em-title #view-families-link {
    position: relative; }

  footer {
    width: 100%; } }
/* Breakpoint: 960px
**********************/
@media all and (max-width: 960px) {
  /*Main menu dropdown
  ***************************/
  .logged_out #masthead nav a:after {
    content: none; }

  .logged_out #masthead nav a:last-child {
    margin-right: 0; }

  #masthead nav {
    font-size: 16px;
    color: white;
    background: #AAD3E4;
    padding: 10px;
    border: 1px solid #34778E;
    border-radius: 5px;
    margin-top: 40px; }
    #masthead nav a#openMenu {
      display: block; }
      #masthead nav a#openMenu:after {
        content: none; }
    #masthead nav:hover {
      cursor: pointer; }
    #masthead nav span {
      position: absolute;
      top: 35px;
      right: 0;
      display: none;
      width: 125px;
      border-radius: 5px;
      background: #AAD3E4;
      border: 1px solid #34778E;
      padding: 10px 5px;
      visibility: visible;
      opacity: 1; }
      #masthead nav span a {
        width: 125px;
        display: block;
        margin-bottom: 15px; }

  /*individual Family page
  *******************/
  .fb-like {
    z-index: 1; }

  #user_actions {
    z-index: 1; }

  .notice.contact_ap {
    float: none;
    z-index: 1; }

  #author {
    z-index: 1;
    margin: 10px 0;
    padding-left: 0 !important; } }
/* Breakpoint: 780px
**********************/
@media all and (max-width: 780px) {
  .home .primary {
    width: 100%;
    margin-right: 0; }

  .home .secondary {
    float: left;
    width: 100%;
    margin-left: 0; }

  #main section > article.landing-box {
    width: 29%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    margin-right: 1.5%; }
  #main section > article.landing-box:nth-of-type(4n) {
    margin-right: 1.5%; }
  #main section > article.landing-box:nth-of-type(3n) {
    margin-right: 0; }
  #main #profile-container .profile-icon {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    font-size: 12px; }
    #main #profile-container .profile-icon p {
      width: 380px;
      max-width: 100%; }

  #left-col {
    width: 100%; }

  #right-col {
    width: 100%;
    margin-left: 0; }

  /*individual family page
  ***********************/
  .ap_profile aside {
    font-size: 16px; }
  .ap_profile #sub_sections {
    font-size: 16px; }
  .ap_profile .album ul {
    width: 96%;
    padding: 2%; }

  #sub_sections h3, #supplemental h3, .ap_profile .album h3 {
    font-size: 16px;
    width: auto; }

  .family-btn {
    font-size: 16px; }

  /*Considering adoption
  **********************/
  #em-right-col {
    width: 100%;
    margin-left: 0;
    float: none; }
    #em-right-col iframe {
      margin: auto; }

  .considering-txt {
    width: 100%; } }
/* Breakpoint: 680px
**********************/
@media all and (max-width: 680px) {
  #main section > article.landing-box {
    width: 46%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    margin-right: 2%; }
  #main section > article.landing-box:nth-of-type(4n) {
    margin-right: 2%; }
  #main section > article.landing-box:nth-of-type(3n) {
    margin-right: 2%; }
  #main section > article.landing-box:nth-of-type(2n) {
    margin-right: 0; }

  #main {
    font-size: 12px; }

  .family-btn, .adoptimist_blog #main .read-more {
    font-size: 16.5px;
    background: #99cd2d;
    border: 1px solid #7cb806;
    padding: 10px;
    width: auto;
    height: auto;
    border-radius: 5px; }

  .adoptimist_blog #main {
    font-size: 12px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical; }
    .adoptimist_blog #main #primary {
      width: 100%;
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      box-ordinal-group: 2;
      border-right: none; }
    .adoptimist_blog #main #supplemental {
      width: 100%;
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      box-ordinal-group: 1;
      float: none;
      border-bottom: 1px solid #cccccc;
      margin-bottom: 15px; }

  .input {
    width: 100%;
    margin: 0;
    margin-bottom: 20px; }
    .input label {
      width: 30%; }
    .input input {
      width: 69%;
      float: right;
      margin: 0; }

  /*Individual Family page
  ***********************/
  .ap_profile #tabbed ul {
    padding: 0; }
  .ap_profile aside {
    width: 96%;
    padding: 2%; }
  .ap_profile #sub_sections {
    width: 100%;
    float: none; }

  #primary {
    width: 100%; }

  #supplemental {
    width: 96%;
    padding: 2%; }
    #supplemental h3 {
      margin-bottom: 10px;
      font-size: 18px; }

  #hopeful-testimonial-box {
    width: 100%; }
    #hopeful-testimonial-box blockquote {
      top: 15px;
      width: 85%; }

  #tabbed ul {
    padding: 0;
    height: auto; }
    #tabbed ul li {
      width: 100%; }
      #tabbed ul li a {
        height: auto;
        padding: 8px 10px;
        font-size: 16px;
        border-radius: 0; }

  .ap_profile #main_photo {
    float: none; }
  .ap_profile #birthmother_letter img {
    width: 70%;
    float: none;
    margin: auto; }
  .ap_profile #birthmother_letter article {
    width: 100%;
    margin-top: 10px;
    margin: 0; }
  .ap_profile #birthmother_letter .notice, .ap_profile #birthmother_letter a.more {
    font-size: 18px; }
  .ap_profile .aside li {
    font-size: 18px; }

  #sub_sections .more a {
    font-size: 18px; }

  #join-plans section {
    width: 100%;
    margin: 0;
    margin-bottom: 25px;
    min-height: 100px;
    padding-bottom: 0; }

  #join-plans .submit {
    position: relative;
    left: 0;
    margin: 25px auto 20px;
    max-width: 100%; }

  footer .social {
    height: auto;
    margin-bottom: 10px; }
    footer .social a {
      margin-bottom: 10px; } }
@media all and (max-width: 680px) and (min-width: 569px) {
  .adv-search {
    font-size: 12px;
    margin-left: 0; }

  #main #ap-sort {
    margin-right: 0; }
    #main #ap-sort .navbar-inner {
      padding-left: 0; }
      #main #ap-sort .navbar-inner > .container > .float_left {
        width: 100%; }
  #main section > article.landing-box {
    height: 350px; }
  #main #filter .nav {
    width: 30%;
    float: left; }
    #main #filter .nav li {
      width: 100%; }
      #main #filter .nav li > a {
        width: 100%;
        float: none; }
        #main #filter .nav li > a .caret {
          right: -12px; }
    #main #filter .nav.search-box {
      margin-right: 10px !important;
      margin-left: 0 !important;
      margin-bottom: 5px !important;
      width: 50%;
      padding-left: 2%;
      float: left; }
  #main #filter .go-button {
    float: right; } }
/* Breakpoint: 568px
**********************/
@media all and (max-width: 568px) {
  .adv-search {
    font-size: 12px;
    margin-left: 0; }

  #main #ap-sort {
    margin-right: 0; }
    #main #ap-sort .navbar-inner {
      padding-left: 0; }
      #main #ap-sort .navbar-inner > .container > .float_left {
        width: 100%; }
  #main #filter .nav {
    width: 70%;
    float: left; }
    #main #filter .nav li {
      width: 100%; }
      #main #filter .nav li > a {
        width: 100%;
        float: none; }
    #main #filter .nav.search-box {
      margin-right: 0 !important;
      margin-left: 0 !important;
      margin-bottom: 5px !important;
      width: 98%;
      padding-left: 2%;
      float: left; }
  #main #filter .go-button {
    float: right; }

  #user_actions .paging li {
    height: auto;
    width: auto; }
    #user_actions .paging li a {
      font-size: 14px; }
  #user_actions .buttons {
    display: block;
    margin-top: 10px; }

  #hopeful-testimonial-box {
    height: auto;
    padding-bottom: 15px; }
    #hopeful-testimonial-box blockquote {
      font-size: 2.7em;
      position: relative;
      width: 90%; }

  #join-free-btn.ap-signup {
    top: 0;
    margin-top: 25px;
    margin-left: 13px;
    position: relative; }

  .input input, .input select, .input textarea {
    margin-left: 0;
    max-width: 100%; } }
/* Breakpoint: 510px
**********************/
@media all and (max-width: 510px) {
  #graphic .banner span, #graphic .banner strong {
    display: block; }

  #right-col img {
    width: 100%; }

  #submit, .submit, .btn {
    max-width: 100%; } }
/* Breakpoint: 460px
**********************/
@media all and (max-width: 460px) {
  #masthead .fb-like {
    position: relative;
    right: 0; }
  #masthead nav span a {
    margin-bottom: 10px; }

  #em-subnav-box #em-subnav > ul {
    margin-left: 0;
    width: 94%;
    padding-right: 3%;
    padding-left: 3%; }
    #em-subnav-box #em-subnav > ul > li {
      width: 100%;
      height: 100%; }
      #em-subnav-box #em-subnav > ul > li a .small-txt {
        float: right;
        margin-top: 2px; }
      #em-subnav-box #em-subnav > ul > li > ul {
        position: relative;
        width: 100%;
        background: #b7d6e2; }
        #em-subnav-box #em-subnav > ul > li > ul li {
          float: none;
          margin: 8px 0 14px 0; }

  .input {
    width: 100%;
    margin: 0;
    margin-bottom: 20px; }
    .input p {
      font-size: 14px;
      width: 100%;
      margin: 0; }
    .input label {
      width: 100%;
      margin-bottom: 10px; }
    .input input {
      width: 99%;
      float: none;
      margin: 5px 0; }

  #supplemental img {
    width: 100%; }

  section > article.landing-box {
    min-height: 396px; }

  /*Main menu
  **************************/
  #hero-stripe {
    background: none; }

  #masthead {
    height: auto; }
    #masthead a > img {
      width: 80%;
      height: auto;
      margin: auto;
      display: block;
      margin-bottom: 15px; }
    #masthead nav {
      position: relative;
      text-align: center;
      width: 100%;
      margin-left: 9px !important;
      margin-top: 10px !important;
      margin-bottom: 15px !important; }
      #masthead nav span {
        width: 100%;
        left: -6px; }
        #masthead nav span a {
          width: 100%;
          text-align: center;
          margin: auto;
          margin-bottom: 10px; }

  #hero {
    margin-top: 50px; }

  .fb-like {
    margin-bottom: 15px; }

  #hero #hero_get_started .row > div div .btn {
    height: auto; }

  /*
  **************************/ }
/* Breackpoint: 345px
**********************/
@medial all and (max-width: 345px) {
  #considering-title-box header h1 {
    font-size: 3.2em; } }
/* Breakpoint: 320px
**********************/
@media all and (max-width: 320px) {
  overflow: scroll; }

/*# sourceMappingURL=responsive.css.map */
